*.pyc
.project
.pydevproject
.nfs*
*.swp
src/rez.egg-info/
build/
dist/
htmlcov/
.coverage
coverage.xml
*~
docs/_build
.DS_Store
wiki/out
LATEST_CHANGELOG.md
__pycache__
.git-commit-template
.vscode/
.venv/
docs/source/api/
docs/source/commands/
__tests_pkg_repo/
.idea/
venv/
