# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Admin
/ASWF/                  @AcademySoftwareFoundation/rez-tsc
CODEOWNERS              @AcademySoftwareFoundation/rez-tsc
LICENSE                 @AcademySoftwareFoundation/rez-tsc
NOTICE                  @AcademySoftwareFoundation/rez-tsc
*.md                    @AcademySoftwareFoundation/rez-tsc

# CI
/.github/               @AcademySoftwareFoundation/rez-tsc
.sonarcloud.properties  @AcademySoftwareFoundation/rez-tsc
/src/rez/tests/         @AcademySoftwareFoundation/rez-tsc
/src/rez/data/          @AcademySoftwareFoundation/rez-tsc

# Docs
/docs/                  @AcademySoftwareFoundation/rez-tsc

# Core
/src/rez/backport       @AcademySoftwareFoundation/rez-tsc
/src/rez/bind           @AcademySoftwareFoundation/rez-tsc
/src/rez/cli            @AcademySoftwareFoundation/rez-tsc
/src/rez/utils          @AcademySoftwareFoundation/rez-tsc
/src/rez/*.py           @AcademySoftwareFoundation/rez-tsc

# Embedded packages
/src/rez/vendor         @AcademySoftwareFoundation/rez-tsc

# Plugins
/src/rezplugins/        @AcademySoftwareFoundation/rez-tsc

# Gui
/src/rezgui/            @AcademySoftwareFoundation/rez-tsc
