include src/rez/rezconfig
include src/rez/completion/*
include src/rez/tests/data/*
include src/rez/vendor/distlib/*.exe
include src/rezgui/rezguiconfig
include src/rezgui/icons/*
include src/rezplugins/build_system/template_files/Doxyfile
recursive-include src/rez README*
recursive-include src/rezplugins *.cmake Doxyfile rezconfig
