/* Enable dark-mode, if requested. */
body[data-theme=dark] .rez-diagram {
    filter: invert(100%) hue-rotate(180deg);
}

/* Enable dark mode, unless explicitly told to avoid. */
@media (prefers-color-scheme: dark) {
    body:not([data-theme="light"]) .rez-diagram {
        filter: invert(100%) hue-rotate(180deg);
    }
}