name: copyright
on:
  pull_request:
    paths:
      - 'src/**'
      - '!**.md'
  push:
    paths:
      - 'src/**'
      - '!**.md'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  main:
    name: Enforce copyright notices
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3

      - name: Run copyright checker
        run: |
          bash ./src/build_utils/license/apply_copyright
          if [[ "$(git status | grep modified)" != "" ]]; then
            echo "Some sourcefiles are missing copyright notice!" 1>&2
            echo "Run ./src/build_utils/license/apply_copyright to apply." 1>&2
            exit 1
          fi
