name: copyright
on:
  pull_request:
    paths:
      - 'src/**'
      - '!**.md'
  push:
    paths:
      - 'src/**'
      - '!**.md'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  main:
    name: Enforce copyright notices
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3

      - name: Run copyright checker
        run: |
          bash ./src/build_utils/license/apply_copyright
          if [[ "$(git status | grep modified)" != "" ]]; then
            echo "Some sourcefiles are missing copyright notice!" 1>&2
            echo "Run ./src/build_utils/license/apply_copyright to apply." 1>&2
            exit 1
          fi
