name: flake8
on:
  pull_request:
    paths:
      - 'src/**.py'
      - '.github/workflows/flake8.yaml'
      - '!src/rez/utils/_version.py'
      - '!src/rez/data/**'
  push:
    paths:
      - 'src/rez/**.py'
      - 'src/rezplugins/**.py'
      - '.github/workflows/flake8.yaml'
      - '!src/rez/utils/_version.py'
      - '!src/rez/data/**'
      - '!src/rez/vendor/**'
      - '!src/rez/backport/**'

jobs:
  lint:
    name: Run Linter
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install Dependencies
        run: |
          pip install flake8

      - name: Run flake8
        run: >-
          find -name '*.py'
          -not -path './rez/vendor/*'
          -not -path './rez/data/*'
          -not -path './rez/backport/*'
          -not -path './build_utils/*'
          -not -path './support/*'
          -not -path './rezgui/*'
          | xargs flake8
        working-directory: src
