name: slack-notification

on:
  release:
    types:
      # published should cover both 'released' and 'prereleased'
      - published

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - name: Notify Slack
      id: slack
      with:
        project_name: "rez"
        slack_bot_token: ${{ secrets.SLACK_BOT_TOKEN }}
        slack_channel: "#release-announcements"
        project_logo: "https://artwork.aswf.io/projects/rez/icon/black/rez-icon-black.png"
      uses: jmertic/slack-release-notifier@main
